form {
  background-color: #fff;
  border-radius: 100px;
  padding: 0 13px;
}

@media (max-width: 700px) {
  form {
    flex-flow: row !important;
    margin-top: 20px;
  }
}

input {
  border: 0;
  font-size: 0.875rem;
}
input:focus {
  box-shadow: none !important;
}
